{% extends 'std_portal/base.html' %}
{% load static %}
{% block title %}Enroll{% endblock title %}
{% block main %}

<div class="row justify-content-center">
    <div class="col-md-12 mb-3">
        <h2>Enroll Courses</h2>
    </div>
    <div class="col-md-12 table-responsive">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>S. No</th>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Course Credit</th>
                    <th>Enroll Year</th>
                    <th>Enroll Semester</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in enrollobjs %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{obj.course.course_code}}</td>
                    <td>{{obj.course.course_name}}</td>
                    <td>{{obj.course.course_credit}}</td>
                    <td>{{obj.enroll_year}}</td>
                    <td>{{obj.enroll_semester}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>S. No</th>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Course Credit</th>
                    <th>Enroll Year</th>
                    <th>Enroll Semester</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-md-12">
        <div class="export">
            <span>Export: </span>
        </div>
    </div>
</div>

{% endblock main %}