{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/std_portal/css/std_login.css' %}">


    <title>NCBT Student Login</title>

    <style>
        .link-style{
            display: flex; 
            align-items: center; 
            gap: 0.5rem; 
            color: #555; 
            padding-right: 20px; 
            padding-bottom: 26px;
        }
        .text-hover:hover{
            color: rgb(80, 179, 80);
        }
    </style>

</head>

<body>

    <form method="POST" class="login">
        <h3 style="margin: 0; margin-bottom: 2rem; color: #333; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            NCBT STUDENT LOGIN
        </h3>
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button>Login</button>

        <a href="{% url 'app_main:home' %}" class="link-style text-hover">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M17 12h-14"></path>
                <path d="M6 9l-3 3l3 3"></path>
                <path d="M19 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
             </svg>
            <span>
                Back to Home
            </span>
        </a>

    </form>



    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div id="msg_text_success" class="message" style="display: none;">{{ message }}</div>
    {% elif message.tags == 'error' %}
    <div id="msg_text_error" class="message" style="display: none;">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'assets/std_portal/js/tata.js' %}"></script>
    <script>
        if ($('#msg_text_success').text() != '') {
            tata.success('Success', $('#msg_text_success').text(), {
                position: 'tr',
                duration: 10000
            })
        } else if ($('#msg_text_error').text() != '') {
            tata.error('Error', $('#msg_text_error').text(), {
                position: 'tr',
                duration: 10000
            })
        }
    </script>
</body>

</html>