{% extends 'common/base.html' %}
{% load static %}

{% block main %}
<!-- slider-start -->
<div class="slider-area pos-relative">
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center justify-content-center"
            style="background-image: url({% static 'assets/images/web_banner_1.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-md-12">
                        <div class="slider-content slider-content-2 px-4">
                            <h1 class="white-color f-700" data-animation="fadeInUp" data-delay=".2s">
                                <span></span>Welcome to
                                NCBT</h1>
                            <p data-animation="fadeInUp" data-delay=".4s">N.Haque College of Business and Technology
                                ( NCBT ) is one of the leading institutes affiliated with the National University of
                                Bangladesh.</p>
                            <button class="theme-btn" data-animation="fadeInUp" data-delay=".6s"><span
                                    class="btn-text">admit now</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-slider slider-height d-flex align-items-center justify-content-center"
            style="background-image: url({% static 'assets/images/new-b.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-md-12 ml-4">
                        <div class="slider-content slider-content-2">
                            <h1 class="white-color f-700" data-animation="fadeInUp" data-delay=".2s">
                                <span></span>Our institute is a place to grow</h1>
                            <p data-animation="fadeInUp" data-delay=".4s">Education is a commitment to excellence in Teaching and Learning.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-slider slider-height d-flex align-items-center justify-content-center"
            style="background-image: url({% static 'assets/images/web_banner_2.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-md-12 ml-4">
                        <div class="slider-content slider-content-2">
                            <h1 class="white-color f-700" data-animation="fadeInUp" data-delay=".2s"><span>The mission
                                    of NCBT </span><br>Create Digital Bangladesh </h1>
                            <p data-animation="fadeInUp" data-delay=".4s">NCBT pays due
                                attention to the spread of technological knowledge everywhere </p>
                            <button class="theme-btn" data-animation="fadeInUp" data-delay=".6s"><span
                                    class="btn-text">admit now</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-end -->
<!-- about start -->
<div id="about" class="about-area pt-100 pb-70 text-md-left text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="about-title-section mb-30">
                    <h1>ABOUT THE FOUNDER</h1>
                    <p>The dream of a globally acclaimed institution promoted Mr. Nurul Haque Chowdhury to set up NCBT.
                        Mr. Chowdhury visited many countries of the world and observed the way the universities of those
                        countries work. He made up his mind to establish such an institution which will be the torch
                        bearer of knowledge and wisdom. In spite of his busy schedule, he spent a lot of time to
                        actualize his dream into reality. Being the chairman of Reliance industrial park, he has also
                        associated himself with a variety of humanitarian works. In accordance with the slogan,
                        'Digital Bangladesh', Mr Haque wants to make the students go digital by setting up a college
                        which excels in business and technology.</p>
                    <p>NCBT undertakes to build up a reputation as a rural level low cost digital education in Business
                        and Technology with innovative research and development as a private institution.</p>
                    <!-- <button class="theme-btn blue-bg-border mt-20"><span class="btn-text">admit now</span></button> -->
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 mb-30">
                <div class="advisor-img mb-35 animate__animated float-lg-right mx-auto"
                    data-animation="animate__fadeInRightBig">
                    <img src="{% static 'assets/images/advisors-img_1.jpg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="row pt-65">
            <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
                <div class="feature-wrapper">
                    <div class="feature-title-heading">
                        <h3>Lab Facility</h3>
                        <span>01</span>
                    </div>
                    <div class="feature-text">
                        <p>No science can survive without labs. NCBT has a spacious computer lab. Groomed with
                            50
                            computers the lab is an example of ultra-modern technology. The lab gives the most
                            cutting-edge technical support to the students.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
                <div class="feature-wrapper">
                    <div class="feature-title-heading">
                        <h3>Hostel Facility</h3>
                        <span>02</span>
                    </div>
                    <div class="feature-text">
                        <p>For the purpose of accommodating the students a modern residential complex is being
                            built on
                            the bank of the Modhumoti river. At least, 200 students will live in the yet to-be
                            made
                            complex. A makeshift hostel is currently at work.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
                <div class="feature-wrapper">
                    <div class="feature-title-heading">
                        <h3>Scholarship Facility</h3>
                        <span>03</span>
                    </div>
                    <div class="feature-text">
                        <p>Students who have outstanding result at SSC and HSC levels are eligible for
                            scholarships and
                            financial assistance. Besides these, students who have excellent performance in the
                            first
                            and second semesters are given special scholarship.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about end -->
<!-- courses start -->
<div id="courses" class="courses-area courses-bg-height pt-100 pb-70"
    style="background-image: url({% static 'assets/images/courses_bg.png' %});">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="section-title mb-50 text-center">
                    <div class="section-title-heading mb-20">
                        <h1 class="white-color">Our Programs</h1>
                    </div>
                    <div class="section-title-para">
                        <p class="white-color">N.Haque College of Business and Technology (NCBT) programs
                            offered for
                            students -</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="courses-list">
            <div class="row courses-active">
                <div class="col-xl-12 animate__animated " data-animation="animate__fadeInUp">
                    <div class="courses-wrapper course-radius-none">
                        <div class="courses-thumb">
                            <a href="{% url 'course' %}"><img src="{% static 'assets/images/course_1.jpg' %}"
                                    alt=""></a>
                        </div>
                        <div class="course-main-content clearfix">
                            <div class="courses-content">
                                <div class="courses-category-name">
                                    <span>
                                        <a href="{% url 'course' %}">BBA</a>
                                    </span>
                                </div>
                                <div class="courses-heading">
                                    <h1><a href="{% url 'course' %}">Bachelor of Business Administration</a>
                                    </h1>
                                </div>
                                <div class="courses-para">
                                    <p>The Bachelor of Business Administration (BBA) Program aims at
                                        training the boys and girls for this act and providing clear
                                        understanding of
                                        the functioning of business from theoretical, practical, and managerial
                                        perspectives.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 animate__animated" data-animation="animate__fadeInUp" data-animation-delay="0.5s">
                    <div class="courses-wrapper course-radius-none">
                        <div class="courses-thumb">
                            <a href="{% url 'course' %}"><img src="{% static 'assets/images/course_2.jpg' %}"
                                    alt=""></a>
                        </div>
                        <div class="course-main-content clearfix">
                            <div class="courses-content">
                                <div class="courses-category-name">
                                    <span>
                                        <a href="{% url 'course' %}">CSE</a>
                                    </span>
                                </div>
                                <div class="courses-heading">
                                    <h1><a href="{% url 'course' %}">Computer Science & Engineering</a></h1>
                                </div>
                                <div class="courses-para">
                                    <p>Computer Science Engineering (CSE) is an engineering
                                        discipline that covers several topics related to computation,
                                        programming
                                        languages, program design, computer hardware and software and integrates
                                        several
                                        fields of computer science.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 animate__animated" data-animation="animate__fadeInUp" data-animation-delay="1s">
                    <div class="courses-wrapper course-radius-none">
                        <div class="courses-thumb">
                            <a href="{% url 'course' %}"><img src="{% static 'assets/images/course_3.jpg' %}"
                                    alt=""></a>
                        </div>
                        <div class="course-main-content clearfix">
                            <div class="courses-content">
                                <div class="courses-category-name">
                                    <span>
                                        <a href="{% url 'course' %}">HSC</a>
                                    </span>
                                </div>
                                <div class="courses-heading">
                                    <h1><a href="{% url 'course' %}">Higher Secondary School Certificate</a>
                                    </h1>
                                </div>
                                <div class="courses-para">
                                    <p>The Higher Secondary Certificate is a public examination credential in
                                        Bangladesh, India, and Pakistan. HSC is equivalent to GCE A Level in
                                        England and
                                        3rd and 4th year of high schools in the United States.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- courses end -->

<!-- team start -->
<div class="team-area pt-95 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="section-title mb-50 text-center">
                    <div class="section-title-heading mb-20">
                        <h1 class="primary-color">Our Honorable Advisors</h1>
                    </div>
                    <div class="section-title-para">
                        <p class="gray-color">Our Honorable Advisors From N.Haque College of Business and Technology (NCBT).</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-list">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="team-wrapper mb-30">
                        <div class="team-thumb">
                            <img src="{% static 'assets/images/teammember1.jpg' %}" alt="">
                        </div>
                        <div class="team-social-info text-center">
                            <div class="team-social-para">
                                <p>N.Haque College of Business and Technology
                                    ( NCBT )</p>
                            </div>
                        </div>
                        <div class="team-teacher-info text-center">
                            <h1>Person Name</h1>
                            <h2>Vice Chancellor</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="team-wrapper mb-30">
                        <div class="team-thumb">
                            <img src="{% static 'assets/images/teammember2.jpg' %}" alt="">
                        </div>
                        <div class="team-social-info text-center">
                            <div class="team-social-para">
                                <p>N.Haque College of Business and Technology
                                    ( NCBT )</p>
                            </div>
                        </div>
                        <div class="team-teacher-info text-center">
                            <h1>Person Name</h1>
                            <h2>Pro-vice Chancellor</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="team-wrapper mb-30">
                        <div class="team-thumb">
                            <img src="{% static 'assets/images/teammember1.jpg' %}" alt="">
                        </div>
                        <div class="team-social-info text-center">
                            <div class="team-social-para">
                                <p>N.Haque College of Business and Technology
                                    ( NCBT )</p>
                            </div>
                        </div>
                        <div class="team-teacher-info text-center">
                            <h1>Person Name</h1>
                            <h2>Tregarar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="team-wrapper mb-30">
                        <div class="team-thumb">
                            <img src="{% static 'assets/images/teammember2.jpg' %}" alt="">
                        </div>
                        <div class="team-social-info text-center">
                            <div class="team-social-para">
                                <p>Belis nisl adipiscing sapien malesu diame lacus eget erats</p>
                            </div>
                        </div>
                        <div class="team-teacher-info text-center">
                            <h1>Person Name</h1>
                            <h2>Register</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team end -->

<!-- events start -->
<div id="events" class="events-area events-bg-height pt-100 pb-95"
    style="background-image: url({% static 'assets/images/courses_bg.png)' %};overflow: hidden;">
    <div class="container">
        <div class="section-title-heading mb-50">
            <h1 class="primary-color" style="color: aliceblue;text-align: center;">Recent Notices</h1>
        </div>
        <div class="row">
            <!-- Notice Content Start -->
            {% for obj in notice %}
            <div class="col-xl-6 offset-xl-0 col-lg-6 offset-lg-0 col-md-10 offset-md-1">
                <div class="single-events mb-30">
                    <div class="events-wrapper events-wrapper-padding">
                        <div class="events-inner d-flex">
                            <div class="events-text white-bg" style="aspect-ratio: 2/1!important;">
                                <div class="event-text-heading mb-20">
                                    <div class="events-calendar text-center f-left">
                                        <span class="date">{{obj.date|date:'d'}}</span>
                                        <span class="month">{{obj.date|date:'M, Y'}}</span>
                                    </div>
                                    <div class="events-text-title clearfix">
                                        <a>
                                            <h4>{{ obj.post_title }}</h4>
                                        </a>
                                        <div class="time-area">
                                            <span class="published-time" style="margin: 0;">From NCBT Notice
                                                Board</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="events-para">
                                    <p>{{ obj.post_content }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Notice Content End -->
        </div>
    </div>
    <div class="events-view-btn">
        <div class="row">
            <div class="col-xl-12">
                <div class="view-all-events text-center">
                    <a href="{% url 'notice' %}"><button class="yewello-btn">view all
                            notice<span>&rarr;</span></button></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- events end -->
<!-- counter start -->
<div class="counter-area">
    <div class="container pt-90 pb-65">
        <div class="row">
            <div class="col-3">
                <div class="couter-wrapper mb-30 text-center">
                    <img src="{% static 'assets/images/counter_icon1.png' %}" alt="">
                    <span class="counter">1500</span>
                    <h3>Total Students</h3>
                </div>
            </div>
            <div class="col-3">
                <div class="couter-wrapper mb-30 text-center">
                    <img src="{% static 'assets/images/counter_icon4.png' %}" alt="">
                    <span class="counter">30</span>
                    <h3>Expert Teacher</h3>
                </div>
            </div>
            <div class="col-3">
                <div class="couter-wrapper mb-30 text-center">
                    <img src="{% static 'assets/images/counter_icon2.png' %}" alt="">
                    <span class="counter">2500</span>
                    <h3>Books</h3>
                </div>
            </div>
            <div class="col-3">
                <div class="couter-wrapper mb-30 text-center">
                    <img src="{% static 'assets/images/counter_4.png' %}" alt="">
                    <span class="counter">40</span>
                    <h3>Computer</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter end -->
<!-- Extra -->
<div id="events" class="events-area events-bg-height pt-100 pb-95"
    style="background-image: url({% static 'assets/images/courses_bg.png)' %}">
    <div class="container">
        <div class="row card flex-row flex-lg-row flex-md-row flex-column-reverse m-0">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-3 p-xl-5">
                <h3>ACADEMIC COLLABORATION</h3>
                <p> NCBT evaluates the role of academic networking around the world. An initiative has been taken to
                    reach out to the famous universities of the world. Any students willing to go abroad for higher
                    education can get the opportunity at NCBT. In the coming days, NCBT hopes to be linked to other
                    universities of the world.</p>
            </div>
            <img src="{% static 'assets/images/academic_new.jpg' %}" alt=""
                class="col-12 col-sm-12 col-md-6 col-lg-6 img-fluid rounded p-3 p-xl-5 animate__animated"
                data-animation="animate__backInRight">
        </div>

        <div class="row mt-5 card flex-row m-0">
            <img src="{% static 'assets/images/extra.jpg' %}" alt=""
                class="col-12 col-sm-12 col-md-6 col-lg-6 img-fluid rounded p-3 p-xl-5 animate__animated"
                data-animation="animate__backInLeft">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-3 p-xl-5">
                <h3>EXTRA - CURRICULAR ACTIVITIE</h3>
                <p>A sound mind in a sound body. Taking this truth into consideration, the NCBT authority puts
                    emphasis
                    on various indoor and outdoor games. Students can become members of the NCBT Football team or
                    the
                    NCBT cricket team. Except this, there is a good arrangement for playing Hokey, badminton and
                    volleyball. NCBT patronizes art & culture. <br><br>

                    The NCBT cultural club is an umbrella agency for all kinds of cultural activism. Drama, poetry
                    and
                    music are amongst the most attended genre of the cultural club. Students are also trained for
                    debating inside and outside the campus. An active debating club directed by a senior lecturer is
                    always striving for excellence. <br><br>

                    The students who are not majoring in CSE are given the chance of doing a free course on
                    computer.
                    The NCBT English club is the place where students can practise speaking English. The club has
                    also
                    the power of arranging debating competitions.</p>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Extra end -->
<!-- testimonials start -->
<div class="testimonilas-area pt-100 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="section-title mb-50 text-center">
                    <div class="section-title-heading mb-20">
                        <h1 class="primary-color">Our Students Facilities</h1>
                    </div>
                    <div class="section-title-para">
                        <p class="gray-color">N.Haque College of Business and Technology (NCBT) provides facilities for
                            students -</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonilas-list">
            <div class="row testimonilas-active">
                <div class="col-xl-12">
                    <div class="testimonilas-wrapper mb-110">
                        <div class="testimonilas-heading d-flex">
                            <div class="testimonilas-author-title">
                                <h1>Free Transportation Facility</h1>
                                <h2>From NCBT</h2>
                            </div>
                        </div>
                        <div class="testimonilas-para">
                            <p>But also the leap into electronic type reman see essentially unchanged. It was popul
                                arised thew with the release of letraset sheets.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="testimonilas-wrapper mb-110">
                        <div class="testimonilas-heading d-flex">
                            <div class="testimonilas-author-title">
                                <h1>Library Facility</h1>
                                <h2>From NCBT</h2>
                            </div>
                        </div>
                        <div class="testimonilas-para">
                            <p>But also the leap into electronic type reman see essentially unchanged. It was popul
                                arised thew with the release of letraset sheets.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="testimonilas-wrapper mb-110">
                        <div class="testimonilas-heading d-flex">
                            <div class="testimonilas-author-title">
                                <h1>Student Club Facility</h1>
                                <h2>From NCBT</h2>
                            </div>
                        </div>
                        <div class="testimonilas-para">
                            <p>But also the leap into electronic type reman see essentially unchanged. It was popul
                                arised thew with the release of letraset sheets.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="testimonilas-wrapper mb-110">
                        <div class="testimonilas-heading d-flex">
                            <div class="testimonilas-author-title">
                                <h1>Lab Facility</h1>
                                <h2>From NCBT</h2>
                            </div>
                        </div>
                        <div class="testimonilas-para">
                            <p>But also the leap into electronic type reman see essentially unchanged. It was popul
                                arised thew with the release of letraset sheets.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="testimonilas-wrapper mb-110">
                        <div class="testimonilas-heading d-flex">
                            <div class="testimonilas-author-title">
                                <h1>Hostel Facility</h1>
                                <h2>From NCBT</h2>
                            </div>
                        </div>
                        <div class="testimonilas-para">
                            <p>But also the leap into electronic type reman see essentially unchanged. It was popul
                                arised thew with the release of letraset sheets.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="testimonilas-wrapper mb-110">
                        <div class="testimonilas-heading d-flex">
                            <div class="testimonilas-author-title">
                                <h1>Scholarship Facility</h1>
                                <h2>From NCBT</h2>
                            </div>
                        </div>
                        <div class="testimonilas-para">
                            <p>But also the leap into electronic type reman see essentially unchanged. It was popul
                                arised thew with the release of letraset sheets.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- testimonials end -->
{% endblock main %}