{% extends 'common/base.html' %}
{% load static %}

{% block main %}


<!-- slider-start -->
<div class="slider-area">
    <div class="page-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center"
            style="background-image: url({% static 'assets/images/sliedbar-bg.jpg' %}); min-height: 250px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">Our Faculty Members </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-end -->



<!-- team start -->
<div class="team-area pt-95 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="section-title mb-50 text-center">
                    <div class="section-title-heading mb-20">
                        <h1 class="primary-color">Our Faculty Memberss</h1>
                    </div>
                    <div class="section-title-para">
                        <p class="gray-color">N.Haque College of Business and Technology (NCBT) Faculty Members -</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-list">
            <div class="row">
                {% for obj in teachers_obj %}
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="team-wrapper mb-30">
                        <div class="team-thumb">
                            <img src="{% if obj.teacher_picture %}{{ obj.teacher_picture.url }}{% else %}{% static 'assets/std_portal/images/teacher_defulte.jpg' %}{% endif %}"
                                alt="Teacher Image">
                            <!-- <img src="{% static 'assets/common/img/team/teammember1.jpg' %}" alt=""> -->
                        </div>
                        <div class="team-social-info text-center">
                            <div class="team-social-para">
                                <p>N.Haque College of Business and Technology
                                    ( NCBT )</p>
                            </div>
                        </div>
                        <div class="team-teacher-info text-center">
                            <h1>{{ obj.name }}</h1>
                            <h2>{{ obj.post }}</h2>
                            <h2>{{ obj.educational_qualification }}</h2>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
<!-- team end -->

{% endblock main %}