{% extends 'common/base.html' %}
{% load static %}

{% block main %}
<!-- slider-start -->
<div class="slider-area">
    <div class="page-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center"
            style="background-image: url({% static 'assets/images/sliedbar-bg.jpg' %}); min-height: 250px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">Our Course</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-end -->
<!-- courses start -->
<div class="courses-area courses-bg-height gray-bg pt-100 pb-70">
    <div class="container">
        <div class="courses-list">
            <div class="row">
                <!-- <div class="col-xl-4 col-lg-4 col-md-6"></div> -->
                <div class="col-xl-4 col-lg-4 col-md-6 mb-4 animate__animated" data-animation="animate__fadeInUp">
                    <div class="courses-wrapper course-radius-none">
                        <div class="courses-thumb">
                            <a href="course_details.html"><img src="{% static 'assets/images/course_1.jpg' %}"
                                    alt=""></a>
                        </div>
                        <div class="course-main-content clearfix">
                            <div class="courses-content">
                                <div class="courses-category-name">
                                    <span>
                                        <a href="#">BBA</a>
                                    </span>
                                </div>
                                <div class="courses-heading">
                                    <h1><a href="course_details.html">Bachelor of Business Administration</a></h1>
                                </div>
                                <div class="courses-para">
                                    <p>The Bachelor of Business Administration (BBA) Program aims at
                                        training the boys and girls for this act and providing clear understanding of
                                        the functioning of business from theoretical, practical, and managerial
                                        perspectives.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-4 animate__animated" data-animation="animate__fadeInUp"
                    data-animation-delay="0.5s">
                    <div class="courses-wrapper course-radius-none">
                        <div class="courses-thumb">
                            <a href="course_details.html"><img src="{% static 'assets/images/course_2.jpg' %}"
                                    alt=""></a>
                        </div>
                        <div class="course-main-content clearfix">
                            <div class="courses-content">
                                <div class="courses-category-name">
                                    <span>
                                        <a href="#">CSE</a>
                                    </span>
                                </div>
                                <div class="courses-heading">
                                    <h1><a href="course_details.html">Computer Science & Engineering</a></h1>
                                </div>
                                <div class="courses-para">
                                    <p>Computer Science Engineering (CSE) is an engineering
                                        discipline that covers several topics related to computation, programming
                                        languages, program design, computer hardware and software and integrates several
                                        fields of computer science.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-4 animate__animated" data-animation="animate__fadeInUp"
                    data-animation-delay="1s">
                    <div class="courses-wrapper course-radius-none">
                        <div class="courses-thumb">
                            <a href="course_details.html"><img src="{% static 'assets/images/course_3.jpg' %}"
                                    alt=""></a>
                        </div>
                        <div class="course-main-content clearfix">
                            <div class="courses-content">
                                <div class="courses-category-name">
                                    <span>
                                        <a href="#">HSC</a>
                                    </span>
                                </div>
                                <div class="courses-heading">
                                    <h1><a href="course_details.html">Higher Secondary School Certificate</a></h1>
                                </div>
                                <div class="courses-para">
                                    <p>The Higher Secondary Certificate is a public examination credential in
                                        Bangladesh, India, and Pakistan. HSC is equivalent to GCE A Level in England and
                                        3rd and 4th year of high schools in the United States.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- courses end -->
<!-- Extra -->
<div id="events" class="events-area events-bg-height pt-100 pb-95"
    style="background-image: url({% static 'assets/images/courses_bg.png)' %}">
    <div class="container">
        <div class="row card flex-row flex-lg-row flex-column-reverse m-0">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-3 p-xl-5">
                <h3>Computer Science and Engineering</h3>
                <p>The B.Sc. (Honours) in Computer Science & Engineering is a four-year professional undergraduate
                    program under the National University of Bangladesh. National university pursues a policy of
                    continuous updating and improving the new four years course curricula having 8 semesters carrying
                    total credits 145 for bachelor's degree in CSE or B.Sc. engineering.The prime objective of this
                    program is to develop young skilled IT executive who can meet the need of the modern technical
                    world.</p>
            </div>
            <img src="{% static 'assets/images/course_2.jpg' %}" alt=""
                class="col-12 col-sm-12 col-md-6 col-lg-6 img-fluid rounded p-3 p-xl-5">
        </div>

        <div class="row mt-5 card flex-row m-0">
            <img src="{% static 'assets/images/course_1.jpg' %}" alt=""
                class="col-12 col-sm-12 col-md-6 col-lg-6 img-fluid rounded p-3 p-xl-5">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-3 p-xl-5">
                <h3>Bachelor of Business Administration</h3>
                <p>Under National University, NCBT operates a Four year professional undergraduate program. The
                    objective the Bachelor of Business Administration of NCBT has includes developing young business
                    executives who can be the future leaders of the present corporate world . This unique program places
                    importance on Management, Finance, Marketing & Accounting.</p>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Extra end -->

<!-- team start -->
<div class="team-area pt-95 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="section-title mb-50 text-center">
                    <div class="section-title-heading mb-20">
                        <h1 class="primary-color">Our Courses Tuition Fees</h1>
                    </div>
                    <div class="section-title-para">
                        <p class="gray-color">N.Haque College of Business and Technology (NCBT) courses tuition fee for
                            students -</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-list">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped text-center">
                        <thead>
                            <tr>
                                <th scope="col">Course Name</th>
                                <th scope="col">Total Credit</th>
                                <th scope="col">Per Semester Fee</th>
                                <th scope="col">Total Tuition Fee</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">CSE</th>
                                <td>145</td>
                                <td>25,000 Tk.</td>
                                <td>1,50,000 Tk.</td>
                            </tr>
                            <tr>
                                <th scope="row">BBA</th>
                                <td>120</td>
                                <td>20,000 Tk.</td>
                                <td>1,20,000 Tk.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team end -->


{% endblock main %}