<div class="nav-secondary bg-indigo-950">
  <div
    class="container hidden items-center justify-between py-1.5 text-sm text-gray-300 md:flex"
  >
    <div class="flex items-center gap-5">
      <span class="flex items-center gap-2">
        <i class="ti ti-phone-call text-green-600"></i>
        <span class="mt-1">+880177837750</span>
      </span>
      <span class="flex items-center gap-2">
        <i class="ti ti-mail text-green-600"></i>
        <span class="mt-0.5">nhaquecollege@gmail.com</span>
      </span>
    </div>
    <div class="flex items-center gap-3 text-sm text-gray-300">
      <a
        href="{% if  footer.facebook_link %}{{ footer.facebook_link }}{% else %}#{% endif %}"
        class=""
      >
        <i class="ti ti-brand-facebook"></i>
      </a>
      <span class="inline-block h-4 w-0.5 bg-gray-600"></span>
      <a
        href="{% if  footer.twitter_link %}{{ footer.twitter_link }}{% else %}#{% endif %}"
        class=""
      >
        <i class="ti ti-brand-twitter"></i>
      </a>
      <span class="inline-block h-4 w-0.5 bg-gray-600"></span>
      <a
        href="{% if  footer.youtube_link %}{{ footer.youtube_link }}{% else %}#{% endif %}"
        class=""
      >
        <i class="ti ti-brand-youtube"></i>
      </a>
      <span class="inline-block h-4 w-0.5 bg-gray-600"></span>
      <a href="" class="font-medium uppercase">
        <i class="ti ti-user mr-1"></i>
        Student Portal
      </a>
    </div>
  </div>
</div>
<nav class="sticky top-0 z-50 w-full bg-white" aria-label="Global">
  <div
    class="nav-wrapper container flex h-16 items-center justify-between px-4 lg:h-20"
  >
    <div class="flex w-full items-center justify-between lg:w-auto">
      <a class="flex items-center gap-3" href="{% url 'app_main:home' %}">
        <img
          src="{{footer.logo.url}}"
          alt="footer logo"
          class="w-12 rounded-full bg-white p-1 md:w-14"
        />
        <span class="text-3xl font-bold text-green-600 md:text-4xl">NCBT</span>
      </a>
      <div class="nav-icons flex items-center gap-4 lg:hidden">
        <a href="{% url 'admin:index' %}" class="grid place-items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-user"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
          </svg>
        </a>
        <button
          class="nav-toggle-btn inline-flex items-center justify-center gap-2 rounded-md border bg-white p-2 align-middle text-sm text-gray-700 shadow-sm transition-all hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-offset-2 focus:ring-offset-white"
        >
          <i class="ti ti-menu-2"></i>
        </button>
      </div>
    </div>

    <div id="navbar" class="">
      <ul class="nav-menu">
        <li>
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="">
          <a class="nav-link" href="{% url 'app_main:aboutus' %}">About</a>
        </li>
        <li class="">
          <a class="nav-link" href="{% url 'app_main:admission' %}">
            Admission
          </a>
        </li>
        <li class="dropdown [--strategy:static] lg:[--strategy:absolute]">
          <button
            type="button"
            class="nav-link menu-toggle-btn flex items-center gap-x-3"
          >
            Courses
            <i class="ti ti-chevron-down"></i>
          </button>

          <ul class="dropdown-menu">
            {% if courses %}
            {% for course in courses %}
            <li>
              <a class="menu-link" href="{% url 'app_main:course_details' course.slug %}">{{ course.code_name }}</a>
            </li>
            {% endfor %}
            {% endif %}
          </ul>
        </li>
        <li class="dropdown [--strategy:static] lg:[--strategy:absolute]">
          <button
            type="button"
            class="nav-link menu-toggle-btn flex items-center gap-x-3"
          >
            Notice & Routine
            <i class="ti ti-chevron-down"></i>
          </button>

          <ul class="dropdown-menu">
            <li>
              <a class="menu-link" href="{% url 'app_main:notices' %}">
                Notice
              </a>
            </li>
            <li
              class="submenu__left submenu [--strategy:static] lg:[--strategy:absolute]"
            >
              <button type="button" class="submenu-btn menu-toggle-btn">
                Routine
                <i class="ti ti-chevron-right rotate-90 lg:rotate-0"></i>
              </button>
              <ul class="submenu-menu">
                <li>
                  <a class="menu-link" href="">BBA</a>
                </li>
                <li>
                  <a class="menu-link" href="">CSE</a>
                </li>
                <li>
                  <a class="menu-link" href="">HSC</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown [--strategy:static] lg:[--strategy:absolute]">
          <button
            type="button"
            class="nav-link menu-toggle-btn flex items-center gap-x-3"
          >
            Administration
            <i class="ti ti-chevron-down"></i>
          </button>

          <ul class="dropdown-menu">
            <li>
              <a class="menu-link" href="">Authorities</a>
            </li>
            <li>
              <a class="menu-link" href="">Teachers</a>
            </li>
            <li>
              <a class="menu-link" href="">Staffs</a>
            </li>
          </ul>
        </li>

        <li class="">
          <a class="nav-link !pr-0" href="{% url 'app_main:contactus' %}">
            Contact
          </a>
        </li>

        <li class="mt-4 inline-block lg:mt-0 lg:hidden">
          <a
            href="{% url 'admin:index' %}"
            class="flex w-max items-center gap-2 rounded bg-gray-800 py-1.5 pl-3 pr-3.5 text-sm uppercase text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-user"
              width="14"
              height="14"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
            </svg>
            <span class="mt-1 inline-block">Student Portal</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
