{% extends 'app_main/base.html' %} {% load static %} {% block main %}

<!-- slider-start -->
<div class="slider-area">
  <div class="page-title">
    <div
      class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center"
      style="
        background-image: url({%static'assets/images/sliedbar-bg.jpg'%});
        min-height: 250px;
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="slider-content slider-content-breadcrumb text-center">
              <h1 class="white-color f-700">Contact Us</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider-end -->
<!-- courses start -->
<div class="advisors-area gray-bg pt-95 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-10 offset-md-1 ml-md-auto">
        <div class="contact-info-text">
          <div class="section-title mb-20">
            <div class="section-title-heading mb-10">
              <h1>Contact Info</h1>
            </div>
            <div class="section-title-para">
              <p>
                Lorem ipsum dolor sit amet, consecte adipisicing elit sed do
                eiusmod tempor incididunt.
              </p>
            </div>
          </div>
        </div>
        <div
          class="contact-info mb-50 wow fadeInRight"
          data-wow-delay=".3s"
          style="
            visibility: visible;
            animation-delay: 0.3s;
            animation-name: fadeInRight;
          "
        >
          <ul>
            <li>
              <div class="contact-icon">
                <i class="ti-headphone"></i>
              </div>
              <div class="contact-text">
                <h5>Call Us</h5>
                <span>01818518220</span>
                <br />
                <span>0177837750</span>
              </div>
            </li>
            <li>
              <div class="contact-icon">
                <i class="ti-email"></i>
              </div>
              <div class="contact-text">
                <h5>Email Us</h5>
                <span>nhaquecollege@gmail.com</span>
              </div>
            </li>
            <li>
              <div class="contact-icon">
                <i class="ti-location-pin"></i>
              </div>
              <div class="contact-text">
                <h5>Location</h5>
                <span>Manikdah, Gopalganj-8100, Bangladesh</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-7 col-lg-6 col-md-10 offset-md-1 ml-md-auto">
        <div class="events-details-form faq-area-form mb-30 p-0">
          <form method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-xl-8">
                <div class="events-form-title mb-25">
                  <h2>Do You Have Any Questions</h2>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">{{ form.name }}</div>
              <div class="col-xl-6 col-lg-6 col-md-6">{{ form.email }}</div>
              <div class="col-xl-6 col-lg-6 col-md-6">{{ form.phone }}</div>
              <div class="col-xl-6 col-lg-6 col-md-6">{{ form.address }}</div>
              <div class="col-xl-12">{{ form.desc }}</div>
              <div class="col-xl-12">
                <div class="faq-form-btn events-form-btn">
                  <button class="btn m-0">submit now</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses end -->

{% if messages %} {% for message in messages %} {% if message.tags == 'success'
%}
<div id="msg_text_success" class="message" style="display: none">
  {{ message }}
</div>
{% endif %} {% endfor %} {% endif %}

<style>
  .tata-text {
    color: #fff !important;
  }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'assets/std_portal/js/tata.js' %}"></script>
<script>
  if ($("#msg_text_success").text() != "") {
    tata.success("Success", $("#msg_text_success").text(), {
      position: "tr",
      duration: 10000,
    });
  }
</script>

{% endblock main %}
