{% extends 'app_main/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'vendor/tailwind-datatables/tailwind-datatables.css' %}" />
<style>
  .dataTables_empty {
    text-align: center;
    padding: 0.75rem;
  }
</style>
{% endblock css %} {% block main %}
<!-- section banner start -->
<div class="banner-area relative isolate h-60 bg-gray-950 md:h-96">
  <img loading="lazy" src="{% static 'assets/images/section-banner-bg.jpg' %}" alt="section banner"
    class="absolute inset-0 -z-10 h-full w-full object-cover opacity-80" />
  <div class="container grid h-full place-items-center text-center">
    <h1 class="text-3xl font-bold uppercase text-white md:text-5xl">
      {{course.course_name}}
    </h1>
  </div>
</div>
<!-- section banner end -->

<!-- welcome to course start -->
<section id="our-history" class="my-8 py-8 md:my-16 md:py-16">
  <div class="container flex flex-col items-center justify-start gap-8 md:flex-row md:justify-center md:gap-8">
    <div class="w-full md:w-1/2">
      <h2 class="mb-4 text-2xl font-semibold text-green-700 md:mb-8 md:text-4xl uppercase">
        Welcome to {{ course.code_name }}
      </h2>
      <p class="text-sm font-normal text-zinc-900 md:text-base">
        {{ course.course_article|safe }}
      </p>
    </div>
    <div class="mt-4 w-full md:mt-0 md:w-1/2">
      <div class="grid grid-flow-col place-items-end">
        <img class="rounded-md" src="{{ course.cover_image.url }}" alt="course-cover-img" loading="lazy" />
      </div>
    </div>
  </div>
</section>
<!-- welcome to course end -->

<!-- line draw start -->
<div class="grid place-items-center">
  <span class="inline-block h-1 w-56 bg-green-700"></span>
</div>
<!-- line draw end -->

<section class="mt-8 pt-8 md:mt-16 md:pt-16">
  <div class="container">
    <div class="mb-4 text-center md:mb-6">
      <h2 class="text-2xl font-bold uppercase leading-tight tracking-wider text-zinc-900 md:text-3xl">
        {{ course.course_name }} at a Glance
      </h2>
    </div>

    <div class="text-md prose prose-stone max-w-full tracking-tighter text-zinc-900">
      {{ course.course_glance|safe }}
    </div>
  </div>
</section>

<!-- course information table start -->
<section id="course-info" class="mt-8 pt-8 md:mt-16 md:pt-16">
  <div class="container">
    <!-- course info table -->
    <div class="mb-10"> 
        <h2 class="text-2xl font-semibold uppercase leading-tight mb-2">
          {{ course.code_name }} Information
        </h2>
      <div class="overflow-x-auto">
          <table class="min-w-full leading-normal">
            <thead>
              <tr>
                <th
                  class="border-b-2 border-gray-200 bg-green-200 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700">
                  Course Name
                </th>
                <th
                  class="border-b-2 border-gray-200 bg-green-200 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700">
                  Total Student Seat
                </th>
                <th
                  class="border-b-2 border-gray-200 bg-green-200 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700">
                  Total Student
                </th>
                <th
                  class="border-b-2 border-gray-200 bg-green-200 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700">
                  Total Graduated
                </th>
                <th class="border-b-2 border-gray-200 bg-green-200 px-5 py-3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  <p class="whitespace-no-wrap text-gray-900">
                    {{ course.code_name }}
                  </p>
                </td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  <p class="whitespace-no-wrap text-gray-900">
                    <i class="ti ti-users"></i>
                    &nbsp; {{ course.total_student_seat }}
                  </p>
                </td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  <p class="whitespace-no-wrap text-gray-900">
                    <i class="ti ti-users"></i>
                    &nbsp; {{ course.total_student }}
                  </p>
                </td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  <p class="whitespace-no-wrap text-gray-900">
                    <i class="ti ti-users"></i>
                    &nbsp; {{ course.total_graduated }}
                  </p>
                </td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-right text-sm">
                  <button type="button" class="inline-block text-gray-500 hover:text-gray-700">
                    <svg class="inline-block h-6 w-6 fill-current" viewBox="0 0 24 24">
                      <path
                        d="M12 6a2 2 0 110-4 2 2 0 010 4zm0 8a2 2 0 110-4 2 2 0 010 4zm-2 6a2 2 0 104 0 2 2 0 00-4 0z" />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>

    <!-- course tuition fee table -->
    {% if not course.code_name == "HSC" %}
    <div>
        <h2 class="text-2xl font-semibold uppercase leading-tight mb-2">
          {{ course.code_name }} Tuition Fee
        </h2>
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full overflow-hidden rounded-lg shadow-md">
          <table class="min-w-full leading-normal">
            <thead>
              <tr>
                <th
                  class="border-b-2 border-gray-200 bg-green-200 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700">
                  Course Name
                </th>
                <th
                  class="border-b-2 border-gray-200 bg-green-200 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700">
                  Total Credit
                </th>
                <th
                  class="border-b-2 border-gray-200 bg-green-200 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700">
                  Per Semester Fee
                </th>
                <th
                  class="border-b-2 border-gray-200 bg-green-200 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700">
                  Total Tuition Fee
                </th>
                <th class="border-b-2 border-gray-200 bg-green-200 px-5 py-3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  <p class="whitespace-no-wrap text-gray-900">
                    {{ course.code_name }}
                  </p>
                </td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  <p class="whitespace-no-wrap text-gray-900">
                    <i class="ti ti-brand-days-counter"></i>
                    &nbsp; {{ course.total_credit }}
                  </p>
                </td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  <p class="whitespace-no-wrap text-gray-900">
                    <i class="ti ti-cash"></i>
                    &nbsp; {{ course.per_semester_fee }}
                  </p>
                </td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  <p class="whitespace-no-wrap text-gray-900">
                    <i class="ti ti-cash"></i>
                    &nbsp; {{ course.total_tuition_fee }}
                  </p>
                </td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-right text-sm">
                  <button type="button" class="inline-block text-gray-500 hover:text-gray-700">
                    <svg class="inline-block h-6 w-6 fill-current" viewBox="0 0 24 24">
                      <path
                        d="M12 6a2 2 0 110-4 2 2 0 010 4zm0 8a2 2 0 110-4 2 2 0 010 4zm-2 6a2 2 0 104 0 2 2 0 00-4 0z" />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</section>
<!-- course information table end -->

<section id="course-routine" class="my-8 py-8 md:my-16 md:py-16">
  <div class="container">
    <div class="mb-2">
      <h2 class="text-2xl font-semibold uppercase leading-tight">
        {{ course.code_name }} Routines and Syllabus
      </h2>
    </div>
    <div class="overflow-x-auto px-px">
      <table id="routines" class="display">
        <thead>
          <tr>
            <th>Year</th>
            <th>Semester</th>
            <th>Course</th>
            <th>Title</th>
            <th>Details</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for routine in course.routines.all %}
          <tr>
            <td>{% if routine.year %}{{routine.year}}{% else %}-{% endif %}</td>
            <td>
              {% if routine.semester %}{{routine.semester}}{% else %}-{% endif %}
            </td>
            <td>{{routine.course.course_name}}</td>
            <td>{{routine.title}}</td>
            <td>
              <a href="{{routine.routine.url}}" class="underline" target="_blank">
                View
              </a>
            </td>
            <td>{{routine.created_at|date:'F m, o'}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock main %} 

{% block script %}
<script src="{% static 'vendor/tailwind-datatables/datatables.js' %}"></script>
<script src="{% static 'vendor/tailwind-datatables/tailwind-datatables.js' %}"></script>
<script>
  new DataTable("#routines");
  const hash = window.location.hash;
  window.addEventListener("load", (event) => {
    if (hash) {
      const courseRoutines = hash.slice(1);
      if (courseRoutines == "course-routines") {
        const routines = document.getElementById("routines");

        if (routines) {
          window.scrollTo({
            behavior: "smooth",
            top: routines.offsetTop - 196,
          });
        }
      }
    }
  });
</script>
{% endblock script %}