{% extends 'common/base.html' %} {% load static %} {% block main %}
<!-- slider-start -->
<div class="slider-area">
  <div class="pages-title">
    <div
      class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center"
      style="
        background-image: url({%static'assets/images/sliedbar-bg.jpg'%});
        min-height: 250px;
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="slider-content slider-content-breadcrumb text-center">
              <h1 class="white-color f-700">Notice Board</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider-end -->
<!-- courses start -->
<div class="events-area gray-bg pt-70 pb-70">
  <div class="container">
    <div class="events-list">
      {% if notice_imagesObj %}
      <div class="row mb-70">
        <div class="col-12">
          <h3 class="mb-3 text-center">Click on image for large view</h3>
          <div class="popup-gallery notice-slider-active">
            {% for obj in notice_imagesObj %}
            <a
              href="{% if obj.notice_images %}{{ obj.notice_images.url }}{% endif %}"
              title="{% if obj.title %}{{ obj.title }}{% endif %}"
            >
              <img
                src="{% if obj.notice_images %}{{ obj.notice_images.url }}{% endif %}"
                class="img-fluid h-100"
              />
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <!-- Notice Content Start -->
        {% for obj in notice %}
        <div
          class="col-xl-6 offset-xl-0 col-lg-6 offset-lg-0 col-md-10 offset-md-1"
        >
          <div class="single-events mb-30">
            <div class="events-wrapper events-wrapper-padding">
              <div class="events-inner d-flex">
                <div class="events-text white-bg">
                  <div class="event-text-heading mb-20">
                    <div class="events-calendar f-left text-center">
                      <span class="date">{{obj.date|date:'d'}}</span>
                      <span class="month">{{obj.date|date:'M, Y'}}</span>
                    </div>
                    <div class="events-text-title clearfix">
                      <a>
                        <h4>{{ obj.post_title }}</h4>
                      </a>
                      <div class="time-area">
                        <span class="published-time" style="margin: 0">
                          From NCBT Notice Board
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="events-para">
                    <p>{{ obj.post_content }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- Notice Content End -->
      </div>
      <div class="row">
        <div class="col-xl-12 text-center">
          <div class="single-events-btn mt-15 mb-30">
            <nav
              class="course-pagination mb-30"
              aria-label="Page navigation example"
            >
              {% if notice.has_other_pages %}
              <ul class="pagination justify-content-center">
                {% if notice.has_previous %}
                <li class="page-item">
                  <a
                    class="page-link"
                    href="?page={{ notice.previous_page_number }}"
                  >
                    <span class="ti-angle-left"></span>
                  </a>
                </li>
                {% else %}
                <li class="page-item">
                  <a class="page-link disabled">
                    <span class="ti-angle-left"></span>
                  </a>
                </li>
                {% endif %} {% for i in notice.paginator.page_range %} {% if
                notice.number == i %}
                <li class="page-item active">
                  <a class="page-link" href="#">{{ i }}</a>
                </li>
                {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %} {% endfor %} {% if notice.has_next %}
                <li class="page-item">
                  <a
                    class="page-link"
                    href="?page={{ notice.next_page_number }}"
                  >
                    <span class="ti-angle-right"></span>
                  </a>
                </li>
                {% else %}
                <li class="page-item">
                  <a class="page-link disabled">
                    <span class="ti-angle-right"></span>
                  </a>
                </li>
                {% endif %}
              </ul>
              {% endif %}
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses end -->
{% endblock main %}
