{% extends 'app_main/base.html' %} {% load static %} {% block main %}

<!-- section banner start -->
<div class="banner-area relative isolate h-60 md:h-96 bg-gray-950">
  <img loading="lazy" src="{% static 'assets/images/section-banner-bg.jpg' %}" alt="section banner"
    class="absolute inset-0 -z-10 h-full w-full object-cover opacity-80" />
  <div class="container grid h-full place-items-center text-center">
    <h1 class="text-3xl font-bold uppercase text-white md:text-5xl">
      Notice Details
    </h1>
  </div>
</div>
<!-- section banner end -->

<!-- banner image start -->

{% if notice %}
<section class="my-8 py-8 md:my-16 md:py-16">
  <div class="container flex flex-col gap-8 md:gap-16 md:flex-row-reverse">
    <div class="w-full relative bg-green-300 hidden md:block max-h-64">
      <img
        loading="lazy"
        class="popup-image w-full object-cover hover:opacity-70 absolute inset-0 h-full"
        src="{% if notice.thumbnail %}{{ notice.thumbnail.url }}{% else %}{% static 'assets/images/notice-landscape.jpg' %}{% endif %}"
        alt="{{notice.title}} image"
      />
    </div>

    <div class="max-w-full md:max-w-3xl">
        <h2 class="line-clamp-1 text-xl md:text-3xl font-semibold text-gray-900">
            {{ notice.title }}
        </h2>
        <div class="mt-2 flex flex-row justify-start items-center gap-2">
            <i class="ti ti-calendar-stats text-gray-500"></i>
            <p class=" text-sm text-gray-500 font-medium">{{ notice.date }}</p>
        </div>
        <div class="mt-4">
            {{ notice.content|safe }}
        </div>
    </div>
  </div>
</section>
{% endif %}

<!-- banner image end -->

{% endblock main %} {% block script %}
<script>
  $(".popup-image").magnificPopup({
    type: "image",
    mainClass: "mfp-fade",
    callbacks: {
      elementParse: function (item) {
        item.src = item.el.attr("src");
      },
    },
  });
</script>
{% endblock script %}
